.skills {
  background-image: url(../images/skills_images.jpg);
  background-size: cover;
  padding: 165px 0;
}
.skills_content {
  max-width: 42.8205128%;
}
.skill_1 {
  margin-top: 39px;
  display: flex;
  flex-direction: column;
}
.skill_2 {
  margin-top: 41px;
  display: flex;
  flex-direction: column;
}
.skill_3 {
  margin-top: 41px;
  display: flex;
  flex-direction: column;
}
progress {
  margin-top: 18px;
  width: 500px;
  height: 3px;
}
progress::-webkit-progress-bar {
  background-color: #10c9c3;
}
progress::-webkit-progress-value {
  background-color: #d8d8d8;
}
