*, *::after, *::before {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  outline: none;
}
.container {
  max-width: 100%;
  min-width: 350px;
}

.wrapper {
  max-width: 1170px;
  padding: 0 20px;
  margin: 0 auto;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 38px;
  font-weight: 500;
}
h2 {
  font-size: 30px;
  font-weight: 500;
}
h3 {
  font-size: 18px;
  font-weight: 500;
}
.p2 {
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 500;
}
ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: black;
}
p {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #787878;
}
.style_btn {
  width: 180px;
  height: 54px;
  line-height: 54px;
  background-color: #10c9c3;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  border: 1px solid transparent;
}
.style_btn:hover {
  background-color: #1e90ff;
}
